.ipynb_checkpoints
__pycache__
Hi-C map analysis/backup code
Hi-C map analysis/.ipynb_checkpoints
Hi-C map analysis/__pycache__
Hi-C map analysis/Hi-C data
Hi-C map analysis/results
functions/.ipynb_checkpoints
functions/__pycache__
results
local analysis
local analysis/figures
local analysis/matrices
Hi-C map analysis/data
data
Hi-C map analysis/results counts
protein data
Hi-C map analysis/bacterial DNA


